@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: url('lake-with-trees.jpg');
  background-position:  center;
  background-size: cover;
}

.form-box{
  position: relative;
  width: 500px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background:#0000008f;
  border: 2px solid #fff;
  border-radius: 10px;
}

h2{
  font-size: 2rem;
  color:#fff;
  text-align: center;
}

.input-box{
  position: relative;
  margin: 30px 0;
  width: 320px;
  border-bottom: 2px solid #fff;
}

.input-box label{
  position: absolute;
  top: 50%;
  left: 5px;
  color:#fff;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 1rem;
  transition: 0.5s;
}

.input-box input{
  width: 100%;
  height: 25px;
  background: transparent;
  outline: none;
  border:none;
  font-size: 1em;
  padding: 0 35px 5px;
  color: #fff;
}

input:focus ~ label,
input:valid ~ label {
  top: -10px;
}

.input-box ion-icon{
  position: absolute; 
  right: 8px;
  color: #fff;
  font-size: 1.2em;
}

.f-password{
  margin: -15px 0 15px;
  font-size: .9em ;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.f-password label input{
  margin: 3px;
}

.f-password a:hover{
  color: #fff;
}

button{
  width: 100%;
  height: 50px;
  border-radius: 0px 10px 0px 10px ;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: #fff;
  color: #000;
}

button:hover{
  background-color:transparent;
  color: #fff;
}

.singup{
  font-size: 0.8rem;
  color: #fff;
  margin-top: 20px;
  
}


.singup a:hover{
  color: #fff;
}


.icons a{
  border-radius: 20%;
  display: inline;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 40px;
  height: 40px;
  color: #fff;  
}

.js{
  color:red;
  width: 100%;
}